
#display{
    display:flex;
    width: 80%;
    height: 30px;
    margin:5px auto;
}

.pole
{
    display: inline-block;
    border:1px;
    border-style:solid;
    margin-left:1%;
    width: 20%;
        
}

#liczby{
    display:flex;
    width:100%;
    height: 100%;
    padding-left: auto;
        
}
.buttons{
    margin-left: 5%;
    display: block;
    width: 150px;
    height:70px;
    border-radius: 10px
}
#numbersGenerator{
    display: inline-block;
    margin-top: 5%;
}